<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="SHORTCUT ICON" href="{{ asset('favicon.ico') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="{{ asset('js/json2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/underscore.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/backbone.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/backbone.marionette.js') }}"></script>
    </head>
    <body class="container">
    <body class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
